<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!--Leaftletjs start-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>

   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>


   <style>
    #map { height: 512px; }
   </style>
   <!--Leafletjs end-->

    <title>Today's Weather</title>
</head>
<body>
    <h2 class="text-center">How's the weather Today</h2>

    <div class="container">
        <div id="map" class="shadow p-3 mb-5 bg-white rounded"></div>

        <div class="row">
            <p class="shadow-none p-3 mb-5 bg-light rounded col-md-3">City: {{ city_weather.name | default:"Not Found" }}</p>
            <p class="shadow-none p-3 mb-5 bg-light rounded col-md-3">Temperature: {{ city_weather.temperature }}</p>
            <p class="shadow-none p-3 mb-5 bg-light rounded col-md-3">Humidity: {{ city_weather.humidity }} %</p>
        </div>
    </div>
    

    

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
<script>
    var mymap = L.map('map').setView([18.5204, 73.8567], 5);

    const attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'

    const tileUrl = "https://api.mapbox.com/v4/mapbox.satellite/1/0/0@2x.jpg90?access_token=pk.eyJ1Ijoid2FuZGVyZXIyNzExIiwiYSI6ImNrcW1qajJtbzAzNDkyb3N0bmtmcnQyMTMifQ.ISfQxYkI49sHv0ixlmdFyQ"

    //const tiles = L.tileLayer(tileUrl, { attribution })
    


    L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox/streets-v11',
        tileSize: 412,
        zoomOffset: -1,
        accessToken: 'pk.eyJ1Ijoid2FuZGVyZXIyNzExIiwiYSI6ImNrcW1qajJtbzAzNDkyb3N0bmtmcnQyMTMifQ.ISfQxYkI49sHv0ixlmdFyQ'
    }).addTo(mymap);

    {% for i in l %}
        L.marker([{{lat}}, {{lon}}]).addTo(mymap)
    {% endfor %}

    marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();


</script>
</html>